@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
transition: background-color 0.3s;
}

/* App.css */
.gradient-text {
    background: linear-gradient(135deg, #17ead9, #6078ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-bg {
  background: linear-gradient(135deg, #17ead9, #6078ea);
}

.card-hover {
    transition: box-shadow 0.3s ease;
}

.card-hover:hover {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.card-hoverd {
    transition: box-shadow 0.3s ease;
}

.card-hoverd:hover {
    box-shadow: 0 5px 15px rgba(71, 71, 71, 0.15);
}

.nav-bar {
    background: rgba( 255, 255, 255, 0.7 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 1px );
}



.toast-success-black {
    background-color: #424242 !important;
     color: rgb(209 213 219) !important;
  }
/* Add the following CSS to your stylesheet */

.fancy {
  --offset: 1.5px;
  border-radius: 50px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Conic gradient */
.fancy::before { 
  content: '';
  background: conic-gradient(transparent 270deg, black, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}
/* Dark mode conic gradient */
.dark .fancy::before {
    background: conic-gradient(transparent 270deg, white, transparent);
  }

/* Overlay */
.fancy::after {
  content: '';
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.fancy-button {
  background: transparent;
  position: relative;
  z-index: 10;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

.specialBtn {
  box-shadow: 0px 14px 55px rgba(96, 165, 255, 0.35);
}

.specialBtnc {
  box-shadow: 0px 14px 55px rgba(96, 165, 255, 0.15);
}

.timeline{
  --line-color: #e5e7eb;
}
.dark .timeline{
  --line-color: #8b8b8b;
}
.shadow {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}
.russo {
  font-family: "Russo One", sans-serif;
}
.gradient-card {
  background-image: linear-gradient( 68.4deg,  rgba(248,182,204,1) 0.5%, rgba(192,198,230,1) 49%, rgba(225,246,240,1) 99.8% );
}